[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
black = "==20.8b1"

[packages]
mako = "*"
bs4 = "*"
bottle = "*"
markdown = "*"
slimit = "*"
rcssmin = "*"
pytidylib = "*"

[requires]
python_version = "3.8"
