[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
pycodestyle = "*"

[packages]
bottle = "*"
bs4 = "*"
lxml = "*"
mako = "*"
markdown = "*"
pytidylib = "*"
rcssmin = "*"
slimit = "*"
termcolor = "*"

[requires]
python_version = "3.8"
